.color-1 { background-color: rgb(191, 151, 128); }
.color-2 { background-color: rgb(207, 177, 160); }
.color-3 { background-color: rgb(223, 203, 192); }
.color-4 { background-color: rgb(239, 229, 223); }
.color-5 { background-color: rgb(255, 255, 255); }
